<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.Jaspersoft.TIBCO.JaspersoftSDK</string>
	<key>CFBundleName</key>
	<string>JaspersoftSDK Documentation</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	
	
	
	
	<key>DocSetFeedName</key>
	<string>JaspersoftSDK Documentation</string>
	
	<key>DocSetMinimumXcodeVersion</key>
	<string>3.0</string>
	
	<key>DashDocSetFamily</key>
	<string>appledoc</string>
	<key>DocSetPublisherIdentifier</key>
	<string>com.Jaspersoft.TIBCO.documentation</string>
	<key>DocSetPublisherName</key>
	<string>TIBCO Jaspersoft</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 TIBCO Jaspersoft. All rights reserved.</string>
</dict>
</plist>
